.jumbotron {
    background-image: url("./images/skypicdark.jpg");
    background-size: cover;
    color: white;
    padding: 30px;
    text-align: center;
}

.row {
    /* border: solid red 5px; */
    margin: auto;
}

.col {
    /* border: dotted blue 5px; */
}

.container {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

h1,
h2 {
    font-weight: 500;
}

.display-4 {
    font-family: 'Staatliches', cursive!important;
    font-size: 100px;
}

.search-city {
    font-weight: 500;
}

.fa-sun-o {
    color: gold;
}

.btn {
    background-color: #003566;
    color: white;
}

.cityBtn {
    width: 254px;
    padding: 10px;
}

.city-name-date {
    font-family: 'Staatliches', cursive;
    font-size: 60px;
}

.forecast-header,
#current-date {
    font-size: 30px;
}

#city-info {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #003566;
    color: white;
}

#weather-icon {
    width: 225px;
}