.jumbotron {
    background-image: url("./skypicdark.jpg");
    background-size: cover;
    color: white;
    padding: 30px;
    text-align: center;
}

.row {
    /* border: solid red 5px; */
    margin: auto;
}

.col {
    /* border: dotted blue 5px; */
}

.container {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

h1,
h2 {
    font-weight: 500;
}

.display-4 {
    font-family: 'Staatliches', cursive!important;
    font-size: 100px;
}

.search-city {
    font-weight: 500;
}

.fa-sun-o {
    color: gold;
}

.btn {
    background-color: #003566;
    color: white;
}

.cityBtn {
    width: 255px;
    padding: 10px;
}